{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}

    {% endblock %}

    {% load staticfiles %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-colors-flat.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href='https://fonts.googleapis.com/css?family=Satisfy' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'music/style.css' %}"/>
    {% block custom_css %}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="{% static 'music/js/main.js' %}"></script>

</head>
<body>

    <nav class="navbar navbar-inverse w3-black">
        <div class="container-fluid">

            <!-- Header -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Dimity</a>
            </div>

            <!-- Items -->
            <div class="collapse navbar-collapse" id="topNavBar">

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'signin' %}">
                            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>&nbsp; Sign In
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'signup' %}">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>&nbsp; Sign Up
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>



    {% block body %}

    {% endblock %}

    <script>
        {% if error_msg %}
            {% for e in error_msg %}
                alert('{{ e }}');
            {% endfor %}
        {% endif %}

    </script>
    {% block custom_script %}
    {% endblock %}


</body>
</html>
