{% extends 'base.html' %}

{% block title %}
<title>Dimity | Password Reset</title>
{% endblock %}

{% block body %}
<div class="col-md-4" style="margin: 0 auto; float: none;">
    <h1 class="text-center">Password Reset Done</h1>
    <div class="thumbnail w3-container w3-teal w3-text-light-grey form-container" style="border-radius: 0px">
      <div style="color: #005a00;">
        <p class="w3-medium w3-center" style="padding: 0; margin-bottom: 2%;">
          Your password has been set. You may go ahead and <a href="{% url 'signin' %}" style="color: #d9edf7;">sign in</a> now.
        </p>
      </div>
    </div>
</div>
{% endblock %}
