{% extends 'music/base.html' %}

    {% block title %}
    <title>music | {{ title }}</title>
    {% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-12">
            {% for song in songs %}
                <div class="col-sm-4 col-lg-4">
                    <div class="thumbnail">
                        <div class="caption bg-info">
                            <a href="{{ song.file_url }}"><h5><span class="glyphicon glyphicon-music"></span> {{ song.song_title }}</h5></a>
                            <h6>{{ song.album }}</h6>
                            <!-- Delete Album -->
                            <form action="#" method="post" style="display: inline;">
                                {% csrf_token %}
                                <input type="hidden" name="album_id" value="" />
                                <button type="submit" class="btn btn-danger btn-xs">
                                    <span class="glyphicon glyphicon-trash"></span>
                                </button>
                                <a href="#" class="btn btn-primary btn-xs btn-favorite" role="button">
                                <span class="glyphicon glyphicon-thumbs-up"></span>
                                </a>
                            <button class="btn btn-success btn-xs btn-favorite" role="button">
                                <span class="glyphicon glyphicon-play-circle"></span>
                            </button>
                            </form>

                            <!-- Favorite Album -->



                        </div>
                    </div>
                    <br>
                </div>
            {% empty %}
                <h3>No Songs Found!</h3>
            {% endfor %}
        </div>
    </div>
{% endblock %}