{% extends 'music/base.html' %}

{% block title %}
    <title>music | {{ title }}</title>
{% endblock %}

{% block body %}
    <div class="container-fluid songs-container">
    {% include 'music/song/create_song.html' %}
    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default w3-teal w3-border w3-border-black">
                <div class="panel-body">
                    <a href="{% url 'music:album-details' album.id %}">
                        {% if album.image %}
                            <img src="{{ album.image }}" class="img-responsive w3-border w3-border-black">
                        {% else %}
                            <h3>No image to display</h3>
                        {% endif %}
                    </a>
                    <h3 class="">{{ album.album_title }} </h3>
                    <h4 class="">{{ album.artist }}<small class="w3-text-light-grey"><h4>{{ songs.count }} songs found:</h4></small></h4>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                <li role="presentation" class="w3-teal w3-border w3-border-black"><a href="#" onclick="document.getElementById('id01').style.display='block'" class=" w3-text-white">Add New Song</a></li>
            </ul>

            <div class="panel panel-default w3-teal w3-border w3-border-black">
                <div class="panel-body">

                    <h3>All Songs</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table ">
                        <thead>
                        <tr>
                            <th>Title</th>
                            <th>Audio File</th>
                            <th>Favorite</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody class="">
                        {% for song in album.song_set.all %}
                            <tr>
                                <td>{{ song.song_title }}</td>
                                <td>
                                    <a target="_blank" href="{{ song.file_url }}">
                                        <button type="button" class="btn btn-success w3-border-black btn-xs">
                                            <span class="glyphicon glyphicon-play"></span>&nbsp; Play
                                        </button>
                                    </a>
                                </td>
                                <td>
                                    <a href="#" class="btn-favorite"><span class="glyphicon glyphicon-star {% if song.is_favorite %}active{% endif %}"></span></a>
                                </td>
                                <td>
                                    <form action="{% if album %}{% url 'music:delete-song-fa' album.id song.id%}{% else %}{% url 'music:delete-song' song.id%}{% endif %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="song_id" value="{{ song.id }}" />
                                        <button type="submit" class="w3-border-1 w3-border-black btn-danger btn-xs" style="border: 1px solid black">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}